%h1 観劇履歴

%ul
  - @viewing_logs.each do |log|
    %li
      = link_to log.event.schedule_name, event_path(log.event.id)
      = link_to " [削除する]", viewing_log_path(log.id), method: :delete, data: {confirm: "本当に削除しますか？"}
      -# (#{log.event.play_at})#{log.event.theater.name}
      %ul
        - log.event.actors.each do |actor|
          %li
            // = Part.where("actor_id=? and event_id=?",actor.id, log.event.id).try(:first).try(:name)
            = actor.my_part(log.event.id).part.name
            = link_to actor.name, actor_path(actor.id)
  - if @viewing_logs.to_a.empty?
    観劇記録がまだありません
