%h1= @event.title
%p= @event.play_at
%p= @event.theater.name
= image_tag "title#{@event.title.id}.jpg", width: "100"

%ul
  - @event.actors.each do |actor|
    %li
      = Part.where("actor_id=? and event_id=?",actor.id, @event.id).try(:first).try(:name)
      = link_to actor.name, actor_path(actor.id)
