%h1 ミュージカル一覧
%ul
  - @titles.each do |title|
    %li
      = image_tag "title#{title.id}.jpg", size: "100x80"
      = link_to title.name, title_path(title.id)

%p
  = link_to theaters_path do
    劇場一覧へ

%p
  = link_to actors_path do
    俳優一覧へ
