%h1= @title.name
%ul
  - @title.events.each do |event|
    %li
      = event.play_at
      = link_to "[観劇記録を付ける]", new_viewing_log_path+"?event_id=#{event.id}"
      - if @errors[event.id]
        = @errors[event.id].messages[:event_id].first
