%h1= @title.name
%ul
  - @title.events.each do |event|
    %li
      = link_to event.play_at, event_path(id:event.id)
      = link_to event.theater.name, theater_path(id: event.theater.id)
      = link_to "[観劇記録を付ける]", new_viewing_log_path+"?event_id=#{event.id}"
      - if @errors[event.id]
        = @errors[event.id].messages[:event_id].first

%h2 配役一覧
%ul
  - @title.parts.each do |part|
    %li
      = part.name
