!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ミュージカルの口コミサイト：MuLog（ミューログ）
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav
        - if user_signed_in?
          %strong= current_user.username
          = link_to '観劇履歴', viewing_logs_path
          = link_to 'プロフィール変更', edit_user_registration_path
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          = link_to 'サインアップ', new_user_registration_path
          = link_to 'ログイン', new_user_session_path
    %p.notice= notice
    %p.alert= alert


    = link_to 'MuLog（ミューログ）', root_path
    = yield
    © MuLog.
